{% extends 'index.html' %}
{% block banner %}
<div class="container text-center biodata">
    <h2>বায়োডাটা সমূহ</h2>
    <div class="row">
        <div class="col-lg-4 col-12">
            <div class="card bio-card mb-3" style="width: 100%;">
                <img src="..." class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Biodata Number</h5>
                    <table class="table">
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                        <td>জন্মসন</td>
                        <td>Otto</td>
                        </tr>
                        <tr>
                        <td>উচ্চতা</td>
                        <td>Thornton</td>
                        </tr>
                        <tr>
                        <td>গাত্রবর্ণ</td>
                        <td>Thornton</td>
                        </tr>
                    </tbody>
                    </table>
                    <button type="submit" class="btn bio-btn">সম্পূর্ণ বায়োডাটা</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-12">
            <div class="card bio-card mb-3" style="width: 100%;">
                <img src="..." class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Biodata Number</h5>
                    <table class="table">
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                        <td>জন্মসন</td>
                        <td>Otto</td>
                        </tr>
                        <tr>
                        <td>উচ্চতা</td>
                        <td>Thornton</td>
                        </tr>
                        <tr>
                        <td>গাত্রবর্ণ</td>
                        <td>Thornton</td>
                        </tr>
                    </tbody>
                    </table>
                    <button type="submit" class="btn bio-btn">সম্পূর্ণ বায়োডাটা</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-12">
            <div class="card bio-card mb-3" style="width: 100%;">
                <img src="..." class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Biodata Number</h5>
                    <table class="table">
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                        <td>জন্মসন</td>
                        <td>Otto</td>
                        </tr>
                        <tr>
                        <td>উচ্চতা</td>
                        <td>Thornton</td>
                        </tr>
                        <tr>
                        <td>গাত্রবর্ণ</td>
                        <td>Thornton</td>
                        </tr>
                    </tbody>
                    </table>
                    <button type="submit" class="btn bio-btn">সম্পূর্ণ বায়োডাটা</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}